<h2><%= @list.title %></h2>

<p>Edit your tasks, add new tasks, or check tasks off to remove them from the list.<br>
  To save your changes, push the "Update List" button.

<form action="/lists/<%= @list.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    <ul>
      <% @checkitems.each_with_index do |item, i| %>
      <input type="text" name="[<%=i%>][contents]" value="<%= item.contents %>"><br>
      <% end %>
    </ul>
    <br>
  <input type="submit" value="Update List">
  </form>
