<h2>Your To-Do Lists</h2>

<ul>
<% @lists.each do |list| %>
<li><a href="lists/<%= list.slug %>"><%= list.title%></a><li>
  <%end%>
</ul>
<br>
<br>
<a class="back" href="/users/<%= @user.slug %>">Back</a>
