<h2>Create a New To-Do List</h2>

<form action="/lists" method="POST">
  <label>Name your list:</label>
  <input type="text" id="title" name="title">
  <br>
  <label>Add tasks to your list:</label>
  <input type="text" name="checkitems[contents]">
  <input type="text" name="checkitems[contents]">
  <input type="text" name="checkitems[contents]">
  </form>
