<h2>Create a New To-Do List</h2>
<p>Titles must be unique, and they are not case-sensitive. Tasks do not have to be unique.</p>
<form action="/lists" method="POST">
  <label>Name your list:</label><br>
  <input type="text" id="title" name="title">
  <p class="flash">
    <% if flash[:title] %>
      <%= flash[:title] %>
    <% end %>
    <% if flash[:blank] %>
      <%= flash[:blank] %>
    <% end %>
  </p>
  <br>
  <label>Add up to five tasks to your list at one time:</label><br>
  <input type="text" name="list[checkitems][][contents]"><br>
  <input type="text" name="list[checkitems][][contents]"><br>
  <input type="text" name="list[checkitems][][contents]"><br>
  <input type="text" name="list[checkitems][][contents]"><br>
  <input type="text" name="list[checkitems][][contents]">
  <br>
  <br>
  <input class="update" type="submit" value="Submit">

  </form>
<br>
<br>
  <a class="back" href="/users/<%= @user.slug %>">Back</a>
