<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <div>
    Name:
    <br>
    <input type="text" name="username" id="username">
    <p class="flash">
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>
    </p>
    <br>
  <p>Password:<br>
    <input type="password" name="password" id="password"></p>
  </div>
  <input type="submit" value="Submit">
</form>
<br>
<br>
<a href="/">Back</a>
