<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <div>
    Name:
    <br>
    <input type="text" name="username" id="username">
      <% if flash[:message] %>
        <p class="flash">
        <%= flash[:message] %>
        </p>
        <% end %>
  <p>Password:<br>
    <input type="password" name="password" id="password"></p>
  </div>
  <input class="update" type="submit" value="Submit">
</form>
<br>
<br>
<a class="back" href="/">Back</a>
