<div class="container">

<h2>Welcome to To-Do Lister!</h2>

<p>Log In:</p>
<form action="/" method="POST">
  <label>Username</label>
  <input type="text" name="username" id="username">
  <br>
  <label>Password</label>
  <input type="password" name="password" id="password">
</form>

<p>Or <a href="/signup">sign up</a><p>


</div>
